/ {
    chosen {
        zmk,display = &nice_view;
    };
};

&i2c0 {
    status = "okay";

    nice_view: nice_view@3c {
        compatible = "niceview,display";
        reg = <0x3c>;
        label = "NICE_VIEW";
    };
};
